<!doctype html>
<html lang="en">
  <head>

    <script type="text/javascript" charset="UTF-8"
 src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraphcore.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraph.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block head %}

    {% endblock %}

    <title>Budget Tracker</title>
  </head>
  <body class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"> <img src="static/lyceum.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Budget Tracker</a>
      
    </nav>


    <div class="jumbotron jumbotron-fluid bg-warning">
      <div class="container">
        <h1 class="display-4">PSD Budget Tracker</h1>
        <p class="lead">Keeping track of $$$</p>
      </div>
    </div>

{% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}}">
        {{message}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}



{% block body %}

{% endblock %}









        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>


        <script type="text/x-mathjax-config">
        MathJax.Ajax.config.path["mhchem"] =
        "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
      MathJax.Hub.Config({
        TeX: {
          extensions: ["[mhchem]/mhchem.js"]
        }
      });
    </script>


      </body>

      <!-- changes the color of answer after clicked -->
      <script type="text/javascript">
        document.querySelectorAll('.list-group-item').forEach(function(link) {
          link.onclick = function() {
            this.className += link.dataset.color;
          };
        });
      </script>





    </html>
