{% extends 'base_in.html' %}

{% block body %}
<br>
<div class="row">

  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">

        {% if session['key'][0]==True %}

        <li class="nav-item">
          <a class="nav-link" href="/master"><span class="badge badge-pill badge-success"> Overview</span></a>
          <!-- <a href="/profile/{{u}}/update" class="nav-link"></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newbudget"><span class="badge badge-pill badge-warning"> Create budgets</span></a>
          <!-- <a class="nav-link disabled" href="/profile/{{u}}/edit"></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newuser"><span class="badge badge-pill badge-primary"> Add users</span></a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/modifyuser"><span class="badge badge-pill badge-danger"> Modify permissions</span></a>

        </li>
        {% endif %}

    </div>


  <div class="col-md-5">

      <h4>
        Select a person to view their budgets
      </h4>


    <div class="dropdown show">
      <a class="btn btn-block btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a person
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for person in people %}
          <a class="dropdown-item" href="master/profile/{{person.username}}">{{person.username}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <h4>
      Select a budget code to view all activity
    </h4>
    <div class="dropdown show">
      <a class="btn btn-block btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a budget code
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for code in codes %}
          <a class="dropdown-item" href="/master2/profile2/{{code.code}}">{{code.code}}</a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>



{% endblock %}
