{% extends 'base_in.html' %}

{% block body %}
<br>
<div class="row">
  <div class="col-md-6">

      <h4>
        Select a person to view their budgets
      </h4>


    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a person
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for person in people %}
          <a class="dropdown-item" href="master/profile/{{person.username}}">{{person.username}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h4>
      Select a budget code to view all activity
    </h4>
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a budget code
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for code in codes %}
          <a class="dropdown-item" href="/master2/profile2/{{code.code}}">{{code.code}}</a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>



{% endblock %}
