{% extends 'base_in.html' %}

{% block body %}

<div class="row">

  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">

        {% if session['key'][0]==True %}

        <li class="nav-item">
          <a class="nav-link" href="/master"><span class="badge badge-pill badge-success"> Overview</span></a>
          <!-- <a href="/profile/{{u}}/update" class="nav-link"></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newbudget"><span class="badge badge-pill badge-warning"> Create budgets</span></a>
          <!-- <a class="nav-link disabled" href="/profile/{{u}}/edit"></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newuser"><span class="badge badge-pill badge-primary"> Add users</span></a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/modifyuser"><span class="badge badge-pill badge-danger"> Modify permissions</span></a>

        </li>
        {% endif %}

    </div>


  <div class="col-md-5">
  <h1 class="text-center">Add New User</h1>
    <form method="POST", action="">
      {{ form.hidden_tag() }}
      {{form.username.label(class="form-control-label")}}
      {{form.username(class="form-control form-control-lg")}}

      {{form.password.label(class="form-control-label")}}
      {{form.password(class="form-control form-control-lg")}}

      {{form.password2.label(class="form-control-label")}}
      {{form.password2(class="form-control form-control-lg")}}

      {{form.budgets_access.label(class="form-control-label")}}
      {{form.budgets_access(class="form-control form-control-lg")}}

      <br>
      {{form.submit(class="btn btn-outline-success form-control form-control-lg")}}
    </form>
  </div>



  <div class="col-md-5">
    <h1 class="text-center">Existing Users</h1>
    <table class="table table-secondary table-bordered">
      <thead>
        <tr>
          <!-- <th scope="row"></th> -->
          <th scope="col">Users</th>
          <th scope="col">Access to budgets</th>

        </tr>
      </thead>
      <tbody>
    {% for i in uu %}

          <tr>

            <td>{{i.username}}</td>
            <td>{{i.budgets_access}}</td>

          </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>

</div>




{% endblock %}
