{% extends 'base_in.html' %}

{% block body %}

<div class="alert alert-primary" role="alert">
  Hello {{u}}
</div>

<div class="row">
  <div class="col-md-6">
    <h3>
      Your budgets:
    </h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Budget Code</th>
          <th scope="col">Initial Amount</th>
          <th scope="col">Spent</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>

        {% for line in b %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{line.code}}</td>
            <td>{{line.initial_amount}}</td>
            <td>{{line.amount_spent}}</td>
            <td>{{line.initial_amount - line.amount_spent}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/profile/{{u}}" class="btn btn-danger btn-block">Back</a>
  </div>


  <div class="col-md-6">

    <form method="POST", action="/profile/{{u}}">
      {{ form.hidden_tag() }}
      {{form.code.label(class="form-control-label")}}
      {{form.code(class="form-control form-control-lg")}}
      <br>
      <a href="" class="btn btn-primary btn-sm">Add a person</a>
      <div class="row">
        <div class="col-md-6">
          {{form.guests_present.label(class="form-control-label")}}
          {{form.guests_present(class="form-control form-control-lg")}}
        </div>
        <div class="col-md-6">
          {{form.school.label(class="form-control-label")}}
          {{form.school(class="form-control form-control-lg")}}
        </div>
      </div>


    Duration:
  <div class="form-control">

      {% for i in form.duration_of_event %}
        <div class="form-check form-check-inline">

          {{i(class='form-check-input')}}
          {{i.label(class='form-check-label')}}

        </div>
      {% endfor %}
  </div>

      <br>

      {{form.date_of_event.label(class="form-label")}}
      {{form.date_of_event(class="form-control date")}}


      <br>
      {{form.submit(class="btn btn-outline-success form-control form-control-lg")}}
    </form>

  </div>
</div>

<br>
<br>
<br>

<!-- <script>
$( function() {
  $( "#datepicker" ).datepicker();
} );
</script> -->



{% endblock %}
